<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Point</title>
</head>
<body>
    <h2>Example 1.1</h2>
    <h3>{{p1}}</h3>
    <h3>{{p2}}</h3>
    <h3>{{p3}}</h3>

    <h2>Example 1.2</h2>
    <h3>{{p1|floatformat}}</h3>
    <h3>{{p2|floatformat}}</h3>
    <h3>{{p3|floatformat}}</h3>

    <h2>Example 1.3</h2>
    <h3>{{p1|floatformat:3}}</h3>
    <h3>{{p2|floatformat:3}}</h3>
    <h3>{{p3|floatformat:3}}</h3>
    
    <h2>Example 1.4</h2>
    <h3>{{p1|floatformat:0}}</h3>
    <h3>{{p2|floatformat:0}}</h3>
    <h3>{{p3|floatformat:0}}</h3>

    <h2>Example 1.5</h2>
    <h3>{{p1|floatformat:-3}}</h3>
    <h3>{{p2|floatformat:-3}}</h3>
    <h3>{{p3|floatformat:-3}}</h3>
</body>
</html>