<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nested dictionary</title>
</head>
<body>
    <h2>{{student.stu1}}</h2>
    <h2>{{student.stu2}}</h2>
    <h2>{{student.stu3}}</h2>
    <h2>{{student.stu4}}</h2>
    
    <h2>{{student.stu1.name}}</h2>
    <h2>{{student.stu1.roll}}</h2>
    <h2>{{student.stu2.name}}</h2>
    <h2>{{student.stu2.roll}}</h2>
    <h2>{{student.stu3.name}}</h2>
    <h2>{{student.stu3.roll}}</h2>
    <h2>{{student.stu4.name}}</h2>
    <h2>{{student.stu4.roll}}</h2>

</body>
</html>